%h1 ゼロ城試遊会データ小屋
%p
  このサイトでは
  %a{:href => "http://blacktea.sakura.ne.jp/teaconvini/", :target => "_blank"} ゼロの城砦
  を解析して得られる情報を扱っています。
  %br
  データ更新は本家の圧縮結果が公開されてから行います。
%br
%p 
  #{top_result_no(nil,nil)}更新結果まで反映済です。

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
      .col-md-6
        %ul
          %li 結果データ

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2018/-/-
      %ul
        %li サイト公開
