%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「粒子」と入力　→　粒子ブレードA、粒子スピアA、粒子爆雷A……が検索結果にヒット
  %br
  「"粒子"」　→　完全一致で「粒子」のみ検索結果にヒット
  %br
  「-粒子」　→　「粒子」の単語を含まない目的が検索結果にヒット
  %br
  「-"粒子"」　→　完全一致で「粒子」以外が検索結果にヒット
  %br
  「粒子 ブレード」　→　「粒子」と「ブレード」の2つの単語が含まれるものが検索結果にヒット
  %br
  「粒子/ブレード」　→　「粒子」か「ブレード」のどちらかの単語が含まれるものが検索結果にヒット
  %br
  「粒子 ブレード/スピア」　→　「粒子」が含まれ、さらに 「ブレード」か「スピア」 が含まれるものが検索結果にヒット
  %br
  「-粒子 -ブレード」　→　「粒子」もしくは「ブレード」という単語が含まれるものを検索結果から除外
